# Configurazione Flask per QuestMasterAI

# Chiave Flask
FLASK_SECRET_KEY=questmaster-ai-secret-key

# Modalità di sviluppo
FLASK_ENV=development
FLASK_DEBUG=True

# Configurazione del server
FLASK_HOST=127.0.0.1
FLASK_PORT=5000

# Percorsi dei file
PDDL_FILES_DIR=file_generati
FAST_DOWNWARD_DIR=fast-downward-24.06.1
